%testing {
  border: 1px solid #000;
}

@mixin grid_position($start, $increment){
	&:nth-child(1) {
   	grid-column: $start;
  	}
  	&:nth-child(2) {
   	grid-column: ($start + $increment);// / ($end + $increment;
  	}
  	&:nth-child(3) {
   	grid-column: ($start + $increment*2);// / ($end + $increment*2);
  	}
}

$title-font: code_bold;
$header-font: code_bold;
$header-font-size: 1.6em;


$big-text-font: quicksand_light;
$big-text-font-size: 6vw;
$small-text-font: quicksand_regular;
$small-text-font-size: 1em;

$landing-font-size: $big-text-font-size + 1;
$services-font-size-size: 5vw;
$services-header-font-size: $services-font-size-size + 1;


body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
h1, h2, h3, h4, a{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: inherit;
}

/* particles js stuff */
.particles-js-canvas-el{
	grid-column: 1 / 8;
	grid-row: 1 / 13;
}


/* header start */

.header{
	top: 0;
   position: absolute;
   width: 100%;
	z-index: 10;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	.name{
		margin: 0;
		padding: 1em;
		font-family: $header-font;
		font-size: $header-font-size;
	}
	.nav{
		display: flex;
		background-repeat: no-repeat;
		background-position: 100% 50%;
	}
	.link{
		z-index: 2;
		padding: 1em 1.5em;
		font-family: rezo_zero;
		font-size: 1vw;
	}
}

$perspective: 20px;
.home-container{
	height: 100vh;
	perspective: $perspective;
	overflow: scroll;
	overflow-x: hidden;
}
.scroll-content{
	transform-style: preserve-3d;
}

/*landing screen*/
.landing-container{
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(12, 8.33%);
	height: 170vh;
	width: 100%;
	position: relative;
	//background-image: url(../../assets/particles.png);
	.particlejs-background{
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;
		grid-column: 1 / 9;
		grid-row: 1 / 13;
		//z-index: -1;
	}
	.landing-text{
		margin-left: 1em;
		grid-column: span 3;
		grid-row: 4;
		width: 100%;
		display: flex;
		flex-direction: column;
		z-index: 10;
		h1{
			font-family: $big-text-font;
			font-size: $landing-font-size;
			padding: .01em .1em;
		   //line-height : 83.82px;
		}
		.special{
			font-size: $landing-font-size + .5;
			width: 5em;
			color: #FEFEFE;
			background: black;
		}
	}
	
	$mm-width: 23vw;
	$mm-height: 25vw;
	$mm-translateZ: 5px;
	
	$mm1-left: 100vw - $mm-width;
	$mm1-top: 20%;
	//$mm1-inner-left: 
	
	$mm2-left: 60vw - $mm-width;
	$mm2-top: 65%;
	
	$mm3-left: 0vw;
	$mm3-top: 50%;
	.fixed-animating-objects{
		position: absolute;
		grid-column: span 8;
		grid-row: span 12;
		display: flex;
		height: 100%;
		width: 100%;
		.mm{
			//border: 1px solid black;
			position: absolute;
			width: $mm-width;
			height: $mm-height;
			overflow: hidden;
			.parallax-img-container{
				//border: 1px solid red;
				position: relative;
				height: $mm-height;
				transform-style: preserve-3d;
				img{
					position: relative;
					height: 100%;
					filter: grayscale(100%);
					transform-origin: 50% 50%;
					transform: translateZ(-$mm-translateZ) scale(1.55);
				}
			}
		}
		.mm1{
			left: $mm1-left;
			top: $mm1-top;
			img{
				left: 48%;
				top: -8%;
			}
		}
		.mm2{
			left: $mm2-left;
			top: $mm2-top;
			img{
				left: 0;
				top: -8%;
			}
		}
		.mm3{
			left: $mm3-left;
			top: $mm3-top;
			img{
				left: -38%;
				top: -8%;
			}
		}
	}
}

$services-font-size: 1.4em;
.our-services{
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(12, calc(100%/12));
	grid-template-rows: repeat(8, calc(100%/8));
	.skills-container{
		position: relative;
		grid-row: 3 / 8;
		grid-column: 4;
		min-width: 20em;
		font-family: quicksand_light;
		li{
			list-style-type: none;
		}
		.skill-container-title{
			font-size: $services-font-size;
			padding-bottom: 1.5em;
		}
		.skill{
			position: relative;
			font-size: $services-font-size + .1em;
			padding-bottom: .1em;
			max-height: $services-font-size + .3em;
			overflow: hidden;
			transition: .6s;
			cursor: pointer;
			transition-timing-function: ease-in-out;
		}
		.skill:hover{
			max-height: 13em;
		}
		.skill-list{
			li:before{
				margin-top: .5em;
				position: absolute;
				margin-left: -1em;
				height: 2px;
				width: 9px;
				background: black;
				content: '';
				transition: .2s;
			}
			li:hover:before{
				margin-left: .2em;
			}
		}
	}
	.tech-container{
		grid-row: 3;
		grid-column: 7 / 9; 
		width: 15em;
		font-family: quicksand_light;
		font-size: $services-font-size;
		.tech-container-title{
			font-family: raleway_regular;
			padding-bottom: .5em;
		}
		.text{
			font-family: quicksand_regular;
			font-size: $services-font-size - .55em;
		}
		.more{
			position: relative;
			span{
				padding-left: 1.5em;
			}
		}
		.more:before{
			position: absolute;
			height: 100%;
			width: 1px;
			background: black;
			content: '';
			transition: .1s;
		}
		.more:hover:before{
			width: 7px;
		}
	}
}



$headline-font: borda_light;
$headline-font-size: 2em;
.previous-projects{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	.headline{
		grid-column: span 3;
		display: flex;
		justify-content: center;
		font-family: $headline-font;
		font-size: $headline-font-size - .1;
		padding: 1em;
		margin-bottom: 2em;
	}
	.projects{
		grid-column: span 3;
		.project{
			grid-column: span 3;
			display: grid;
			grid-template-columns: repeat(7, calc(100%/7));
			.project-thumbnail{
				position: relative;
				width: 95%;
				height: 35vw;
				overflow: hidden;
				.parallax-img-container{
					//border: 1px solid red;
					position: relative;
					width: 45vw;
					transform-style: preserve-3d;
					img{
						position: relative;
						height: 100%;
						transform-origin: 50% 50%;
						transform: translateZ(-8px) scale(1.55);
					}
				}
			}
			.project-name{
				display: flex;
				padding: 1em;
				font-family: $headline-font;
				font-size: $small-text-font-size + 2;
			}
			&:nth-child(odd){
				.project-name{
					grid-column: 2 / 5;
					align-self: center;
					justify-self: right;
					text-align: right;
				}
				.project-thumbnail{
					justify-self: right;
					grid-row: 1 / 1;
					grid-column: 5 / 8;
				}
			}
			&:nth-child(even){
				.project-name{
					align-self: center;
					justify-self: left;
					grid-column: 4 / 7;
					text-align: left;
				}
				.project-thumbnail{
					justify-self: left;
					grid-row: 1 / 1;
					grid-column: 1 / 4;
				}
			}
		}
	}
	.show-more{
		grid-column: 1 / 4;
		color: white;
		font-family: $small-text-font;
		margin-top: 1em;
		padding: .7em;
		width: 100%;
		background: black;
	}
}

.test-ground{
	display: flex;
	justify-content: center;
	height: 70vh;
	margin: 10em;
	overflow-y: scroll;
	perspective: 5px;
	border: 1px solid black;
	//perspective-origin: top left;

}



/* abandoned peep's styles

.services-container{
	background-image: url(../../assets/particles.png);
	padding-top: 4em;
	padding-bottom: 12em;
	display: grid;
	grid-template-columns: 1fr 85vw 1fr;
	grid-template-rows: auto;
	.headline{
		grid-column: span 3;
		width: 100%;
		display: flex;
		justify-content: center;
		font-family: $headline-font;
		font-size: $headline-font-size;
	}
	.services{
		display: grid;
		grid-column: 2;
		grid-template-columns: 1fr 1fr 1fr;
		//min-height: 100vh;
		.service{
			display: grid;
			grid-template-columns: 1fr 20vw 1fr;
			align-content: baseline;
			> *{
				grid-column: 2;
			}
			.service-name{
				margin-top: 1.2em;
				padding: .8em 0em;
				font-family: $title-font;
				font-size: $headline-font-size + .5;
			}
			.service-list{
				font-family: $small-text-font;
				li{
					font-size: $small-text-font-size + .4;
					list-style-type: none;
				}
			}
			.learn-more{
				color: white;
				font-family: $small-text-font;
				margin-top: 1em;
				padding: .7em;
				width: 5.5em;
				background: black;
			}
		}
	}
}
*/

