.header {
  color: white !important;
}

.projects-container {
  margin: 0;
  padding: 0;
}

.landing-container {
  display: grid;
  grid-template-columns: minmax(10vw, 25vw) 10vw minmax(20vw, 40vw) 1fr;
  grid-template-rows: 1fr minmax(25rem, 20rem) 1fr;
  height: 100vh;
  width: 100vw;
  margin: 0;
  top: 0;
  background: black;
  color: white;
}
.landing-container .logo {
  grid-column: 1;
  grid-row: 2;
  position: relative;
  font-family: code_regular;
  font-size: 5vw;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.landing-container .headline {
  display: flex;
  align-items: center;
  position: relative;
  grid-column: 3;
  grid-row: 2;
  line-height: 0.95em;
  font-size: 9vw;
  font-family: rezo_zero;
}

.about-container {
  display: flex;
  flex-direction: row;
}
.about-container .about-img {
  position: relative;
  top: -20vh;
}
.about-container .about-img img {
  width: 35vw;
}
.about-container .about-text {
  position: relative;
  width: 20em;
  padding: 8rem 10rem;
}
.about-container .about-text p {
  font-family: quicksand_medium;
  font-size: 2em;
  width: 100%;
  text-align: center;
}

.skills-passion-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.skills-passion-container div {
  padding: 0em 3rem;
  font-family: quicksand_medium;
  width: 18rem;
}
.skills-passion-container div .title {
  font-size: 0.9rem;
  padding-bottom: 0.4rem;
  font-family: monospace;
  margin: 0.5em 0em;
}
.skills-passion-container div li {
  line-height: 1.2em;
  font-size: 1.9em;
  list-style-type: none;
}
.skills-passion-container div p {
  font-family: quicksand_medium;
  line-height: 1.4em;
  font-size: 1.1em;
  margin: 0;
}
.special-text-container {
  margin-top: 8em;
  position: relative;
  display: flex;
  flex-direction: row;
}
.special-text-container .special-img {
  position: relative;
  left: 45vw;
  transition: 0.5s;
  transition-delay: 0.3s;
  transition-timing-function: cubic-bezier(0.55, 0.94, 0.59, 0.49);
}
.special-text-container .special-img img {
  top: 50%;
  z-index: 5;
  transform: translateX(-50%) translateY(-50%);
  max-width: 30rem;
  position: absolute;
}
.special-text-container .special-img-onview {
  left: 0vw !important;
}
.special-text-container .special-text {
  cursor: none;
  width: 65vw;
  line-height: 1em;
  position: relative;
  color: #202020;
  font-family: rezo_zero;
  font-size: 9rem;
  left: 50vw;
  opacity: 0.3;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.55, 0.94, 0.59, 0.49);
}
.special-text-container .special-text .cursor {
  opacity: 1 !important;
  position: absolute;
  height: 0rem;
  width: 0rem;
  border-radius: 50%;
  background: black;
  transform-origin: center;
  z-index: 10;
  transform: translate(0px, 0px);
  transition: transform 0.1s;
  transition: padding 0.2s;
}
.special-text-container .special-text .cursor-onview {
  padding: 2.5rem;
}
.special-text-container .special-text-onview {
  left: 32vw !important;
  opacity: 1 !important;
}

.post-special-text .text-container {
  position: relative;
  left: 50vw;
  padding: 8em 1rem;
  width: 18rem;
  font-family: quicksand_medium;
  line-height: 1.4em;
  font-size: 1.1em;
  margin: 0;
}

.origin-container {
  cursor: none;
  position: relative;
  background: #111111;
  color: #EEEEEE;
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
}
.origin-container .cursor {
  position: absolute;
  height: 0rem;
  width: 0rem;
  z-index: 5;
  border-radius: 50%;
  background: white;
  mix-blend-mode: difference;
  transform-origin: center;
  transform: translate(0px, 0px);
  transition: transform 0.1s;
  transition: padding 0.2s;
}
.origin-container .cursor-onview {
  padding: 2.5em;
}
.origin-container .origin {
  align-self: center;
  margin-left: 20%;
  font-family: quicksand_medium;
  width: 21rem;
}
.origin-container .origin .title {
  font-size: 1rem;
  padding-bottom: 0.9rem;
  font-family: monospace;
  margin: 0.5em 0em;
}
.origin-container .origin p {
  font-family: rezo_zero;
  font-size: 2rem;
  margin: 0;
}

.team-container {
  padding: 7rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.team-container .title {
  font-size: 1.2em;
  padding: 2rem 1rem;
  width: 50rem;
  align-self: center;
  font-family: monospace;
}
.team-container .team-members {
  width: 50rem;
  align-self: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.team-container .team-members .member {
  font-size: 1rem;
  min-width: 20rem;
  padding-bottom: 3rem;
  font-family: quicksand_medium;
}
.team-container .team-members .member .name {
  font-family: quicksand_medium;
  font-size: 2rem;
}

/*# sourceMappingURL=projects.css.map */
