body{
	margin: 0;
}
h1, h2, h3, h4, a{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: inherit;
}
.header{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

/* header start */
.header .name{
	margin: 0;
	padding: 1em;
	font-family: CODE_bold;
	font-size: 1.2em;
}
.header .nav{
	display: flex;
}
.header .link{
	padding: 1em;
	font-family: code_bold;
	font-size: 1.2em;
}


/*landing screen*/
.landing-container{
	height: 100vh;
}
.landing-text{
	border: 1px solid black;
	max-width: 15em;
	display: flex;
	flex-direction: column;
}
.landing-text h1{
	display: inline-block;
	font-family: quicksand_regular;
	padding: .5em 1em;
}
.landing-text .special{
	color: #FEFEFE;
	background: black;
}




